.main-content {
    max-width: 1200px;
    margin: auto;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

thead {
    background-color: black;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    margin-right: 5px;
}
.container {
    padding: 20px;
    width: 100%;
}

.table-responsive {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    border-radius: 5px 0 0 5px;
    background-color: black;
    color: white;
    border: 1px solid #da9100;
}

input[type="text"]::placeholder {
    color: #fff;
    opacity: 0.8;
}

button.btn-primary {
    border-radius: 0 5px 5px 0;
    background-color: #da9100;
    border-color: #da9100;
    color: white;
}

button.btn-primary:hover {
    background-color: #c07f00;
    border-color: #c07f00;
}

